<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.first_name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    </div>
  </div>
</div>
