// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$orange1: #d09d76;
$orange2: #e98b2a;
$orange3: #c95014;
$gray1 : #DDDCDE;
$gray2 : #E0DFE1;
