.dashboard-container {
  background-image: url("https://res.cloudinary.com/di7k88pkv/image/upload/v1676894019/pexels-onur-bahad%C4%B1r-15476801_gevtyj.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.table {
  color: white;
}
.dashboard-title {
  margin-top: 2em;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: end;
}
