
#background-video {
  margin-top: -11vh;
  height: 60vh;
  width: 100%;
  // margin-left: 40%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  // position: fixed;
  // position: absolute;
  // transform: skewY(-4deg);
  // border: 1px solid black;
  // margin-top: 9vh;
}

.logo-index {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  margin-top: -45vh;
  margin-left: 70vw;
}

.logo-index img {
  height: 100%;
  width: 100%;
}

.middle-container {
  display: flex;
  height: 30vh;
  background-image: linear-gradient(45deg, #c95014, #d09d76);
  transform: skewY(-3deg);
  position: relative;
  margin-top: -8vh;
}

.middle-container p {
  color: white;
  font-weight: bold;
  font-size: 44px;
  margin-top: 4vh;
  margin-left: 10vh;
}

.diagonal-box {
  margin-top: -12vh;
  background-color: white;
  position: relative;
  height: 25vh;
  transform: skewY(-7deg);
  border-top-left-radius : 200px 50px;
  // border-radius: 20%;
  // background-image: linear-gradient(45deg, #d09d76, #C95014);
  // clip-path: polygon( 0 0,100% 10vw,100% calc(100% - 10vw),0 100%);
  // web-clip-path: polygon( 0 0,100% 10vw,100% calc(100% - 10vw),0 100%);
}

// .diagonal-box2 {
//   display: flex;
//   height: 100vh;
//   background-image: linear-gradient(45deg, #d09d76, white);
//   transform: skewY(-25deg);
//   position: relative;
//   margin-top: -200vh;
//   z-index: 0;

// }

.buttons-container {
  // border-radius: 10px;
  // padding: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: -20vh;
  margin-left: 30%;
  // margin-right: 30%;
  z-index: 2;
  // background: rgba(0, 0, 0, 0.6);
  // background: rgba(208, 157, 118, 0.7);
  // background-color: #d09d76;
  height: 20  vh;
}

#inputRecherche3 {
  width: 200%;
  display: flex;
  flex-direction: column;
}

.events-container {
  background-color: white;
  height: 100%;
  width: 100%;
  // position: fixed;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  z-index: -5;
}

.events_card {
  // display: flex;
  // flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 1rem;
  // background-color: rgba(255, 255, 255, 0.3);
  // opacity: 0.9;
  background-color: transparent;
  // border: 1px solid #c95014;
  // border-radius: 5px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.events_cards {
  display: flex;
  flex-wrap: wrap;
}
// @media(max-width: 600px) {
//   .events_card {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-gap: 1rem;
//     background-color: rgba(255, 255, 255, 0.3);
//     opacity: 0.9;
//     border: 1px solid #8292AA;
//     border-radius: 5px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     padding-left: 50px;
//     padding-right: 50px;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     text-align: center;
//     margin-top: 8em;
//   }
// }

.event-card {
  margin: 10px;
  flex: 30%;
  background-color: black;
  opacity: 0.8;
  // border: 1px solid #e98b2a;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding : 10px;
  margin-bottom: 20px;
  text-align: center;
}

.event-card-list {
  text-align: left;
}

.feed_card {
  background-color: transparent;
  // background-color: rgba(255, 255, 255, 0.3);
  // opacity: 0.9;
  // border: 1px solid #c95014;
  // border-radius: 5px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
}

#map {
  // background-color: rgba(255, 255, 255, 0.3);
  // opacity: 0.9;
  // border: 1px solid #e98b2a;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 80%;
  height: 400px;
  margin-left: 30px;
  margin-top: 100px;
}


// .mapboxgl-canvas {

// }

.activity-feed {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.event-passed {
  background-color: rgb(66, 64, 64);
  opacity: 0.9;
  // border: 1px solid #e98b2a;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding : 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  height: 180px;
}

.events-passed {
  margin-left: auto;
  margin-right: auto;
}

.events-passed h6 {
  color: white;
}
.event-card h6 {
  color: white;
}

.h5-star {
  color: #d09d76;
  font-size: 12px;
}

.badge-danger {
  color: #D8000C;
  background-color: #FFBABA;
  border-radius: 5px;
}

.badge-success {
  color: #270;
  background-color: #DFF2BF;
  border-radius: 5px;
}

.badge-warning {
  color: #9F6000;
  background-color: #FEEFB3;
  border-radius: 5px;
}

.container-show {
  background-image: url("https://res.cloudinary.com/di7k88pkv/image/upload/v1675937203/zfvgizqgzwzaqzpuby1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  // position: fixed;
}

.events_card-show {
  background-color: black;
  opacity: 0.8;
  border: 1px solid #8292AA;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.reviews_card-show {
  background-color: black;
  opacity: 0.8;
  border: 1px solid #8292AA;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 4em;
  margin-bottom: 4em;
}
.reviews_card-title {
  text-align: center;
  margin-bottom: 20px;
}

.container-new {
  background-image: url("https://res.cloudinary.com/di7k88pkv/image/upload/v1676892785/pexels-the-th-179908_c3wvvx.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
}

// NOTES REVIEWS

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #e98b2a;
  color: white;
  border: 1px solid white;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #32c914;
  color: black;
}
