.banner {
  background-image: url("https://res.cloudinary.com/di7k88pkv/image/upload/v1675937136/jstwikb9u2ujszfabdfr.png");
  background-size: auto;
}
.banner img {
  margin-top: 1em;
}
.container-form {
  background-color: white;
}
.choice {
  color: #e98b2a;
  font-weight: bold;
  font-size: 16px;
}
.form_search {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 8px;
}
