.banner {
  background-color: #E2E3E3;
}
.container-form {
  background-color: white;
}
.choice {
  color: #E67E22;
  font-weight: bold;
  font-size: 16px;
}
.form_search {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 8px;
}
