#myVideo {
  position: fixed;
  height: auto;
  width: 100%;
  top: 0;
  z-index: -2;
}

.logo-home {
  position: relative;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 26%;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);

}

.btn-enter {
position: relative;
max-width: 100%;
height: auto;
display: flex;
justify-content: center;
z-index: 0;
padding-bottom: 20px;
background: rgba(0, 0, 0, 0.5);
}

.description-home {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-weight: 300;
}
