#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 100px;
  height: 55%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.text-home {
  font-family: "PT Sans", sans-serif;
  color: #c95014;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.description-home {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
}

/* Style the button used to pause/play the video */
// #myBtn {
//   width: 200px;
//   font-size: 1px;
//   padding: 10px;
//   border: none;
//   background: #d09d76;
//   color: #fff;
//   cursor: pointer;
// }

// #myBtn:hover {
//   background: #ddd;
//   color: #d09d76;
// }
