.profile-container {
  background-image: url("https://res.cloudinary.com/di7k88pkv/image/upload/v1676892786/pexels-ingo-joseph-2618794_vryawr.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
}

.profile_cards {
  background-color: black;
  opacity: 0.8;
  border: 1px solid #8292AA;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: start;
  margin-top: 8em;
}
.profile-title {
  margin-top: 2em;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: end;
}
.friend-name a {
  color: white;
}
