.body_application {
  background: white;
  color: black;
  font-size: 14px;
}
h1 {
  // color: #c95014;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
h2 {
  color: #e98b2a;
  font-size: 28px;
  text-align: center;
}
h3  {
  color: #c95014;
  font-size: 24px;
  text-align: center;
}
h4 {
  color: #e98b2a;
  font-size: 18px;
}
h5 {
  color: #d09d76;
  font-size: 16px;
}
h6 {
  color: #181f47;
  font-size: 14px;
  font-style: italic;
}
