<!-- app/views/restaurants/_restaurant_card.html.erb -->
<div class="card mb-4" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Description" data-bs-content="<%= event.description %>"></div>
