
<div class="banner_home" style="background-image: url(https://res.cloudinary.com/di7k88pkv/image/upload/v1675937188/dbt8tnankghzkym5x5kf.png)">
<div>
  <%= image_tag "https://res.cloudinary.com/di7k88pkv/image/upload/v1675864703/agenx4hoeac8j1gufekm.png", height: 190, width: 380, alt: "Logo blablasport" %><br><br>
  <h1>LE RESEAU SPORTIF</h1><br><br>
  <%= link_to "Accéder aux événements", events_path, class: "btn btn-outline-warning" %>
</div>
