<div class="container">

  <div class="form-group"style="display: flex>
    <label for="search">Rechercher un joueur :</label>
    <input type="text" class="search-form-control" id="search" placeholder="Nom du joueur">
  </div>

  <div id="search-results">
    <!-- Résultats de la recherche seront affichés ici -->
  </div>

</div>

<script>
  // Fonction de recherche d'utilisateurs
  function searchUsers() {
    var searchTerm = $("#search").val();
    if (searchTerm.length == 0) {
      return;
    }
    $.ajax({
      url: "/friendships/search",
      data: {
        search_term: searchTerm
      },

success: function(data) {
  $("#search-results").html("");

  for (var i in data) {
    var user = data[i];
    $("#search-results").append(
      "<div class='card'>" +
        "<div class='card-body'>" +
          "<h5 class='card-title'>" + user.first_name + "</h5>" +
          "<button class='btn btn-primary add-friend-button' data-user-id='" + user.id + "'>Ajouter en ami</button>" +
          "&nbsp;&nbsp;&nbsp;" +
          "<a href='/users/" + user.id + "' class='btn btn-secondary'>Voir profil</a>" +
        "</div>" +
      "</div>"
    );
  }

        $(".add-friend-button").click(function() {
          addFriend($(this).data("userId"));
        });
      }
    });
  }

  // Fonction pour ajouter un ami
  function addFriend(userId) {
    $.ajax({
      url: "/friendships",
      method: "POST",
      dataType: 'json',
      data: {
        friend_id: userId,
        authenticity_token: $('meta[name="csrf-token"]').attr('content')
      },
      success: function(data) {
        alert("demande d'ami envoyée!");
      }
    });
  }

  $(document).ready(function() {
    $("#search").keyup(searchUsers);
  });
</script>
