<div class="contact-container col-12">
  <div class="row g-3">
    <div class="col-12">


        <div class="col-2 container-contact-cards d-flex align-items-end flex-column">
          <div class="card-contact card0">
            <div class="border-contact">
              <h2>Alex</h2>
            </div>
          </div>
          <div class="card-contact card1">
            <div class="border-contact">
              <h2>Fred</h2>
            </div>
          </div>
          <div class="card-contact card2">
            <div class="border-contact">
              <h2>Romain</h2>
            </div>
          </div>
        </div>

        <div class="col-4">
          <h1>Contact us</h1>
        </div>

        <div class="col-4">
          <h3>Newsletter</h3>
          <p>Get some news of us each time with add new stuffs for you.</p>
          <form action="#" method="post">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="your email">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Follow us</button>
              </span>
            </div>
          </form>
        </div>

        <div class="col-12">
          <p class="text-center">© 2023 BlaBlaSport. All rights reserved.</p>
        </div>

    </div>
  </div>
</div>
