<div class="dashboard-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
        <h1>Mon tableau de bord</h1>

        <div class="tabs">
          <input id="tab1" type="radio" name="tabs" checked>
          <label for="tab1">Mes événements</label>

          <input id="tab2" type="radio" name="tabs">
          <label for="tab2">Mes inscriptions</label>

          <section id="content1">
            <%= render 'pages/my_events' %>
          </section>

          <section id="content2">
            <%= render 'pages/participated_events' %>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
