<div class="dashboard-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
      <h1>Mon tableau de bord</h1>
      </br>
      <%# <h3>Mes inscriptions :</h3> %>
        <% if @bookings.empty?  %>
          <p>Tu n'es inscrit à aucun événement</p>
        <% elsif @bookings.count == 1 %>
          <h3>Tu t'es inscrit à 1 événement</h3><br>
        <% else %>
          <h3>Tu t'es inscrit à <%= @bookings.count %> événements</h3><br>
        <% end %>
        <%= render 'pages/participated_events' %>
        </br>
        <%= render 'pages/my_events' %>

      </div>
    </div>
  </div>
</div>
