
<video autoplay muted loop id="myVideo">
  <source src="https://res.cloudinary.com/di7k88pkv/video/upload/v1676656397/production_ID_5192077_f8mwmi.mp4" type="video/mp4">
</video>

<div class="content">
  <div class="logo-home"><%= image_tag "https://res.cloudinary.com/di7k88pkv/image/upload/v1675864703/agenx4hoeac8j1gufekm.png", alt: "BlaBlaSport" %></div>
  <div class="text-home">LE RESEAU SPORTIF</div>
  <div class="description-home">
    <span>
      BlaBlaSport est l'application qui permet de participer ou d'organiser des événements avec ceux qui partagent les mêmes centres d'intérêts sportifs.<br>
      Il te manque un adversaire, un partenaire, ou plusieurs joueurs, rejoins la communauté BlaBlaSport !
    </span>
  </div><br>
  <%= link_to "Accéder aux événements", events_path, class: "btn btn-outline-warning" %>
</div>
