
  <video autoplay muted loop id="myVideo">
    <source src="https://res.cloudinary.com/di7k88pkv/video/upload/v1676656397/production_ID_5192077_f8mwmi.mp4" type="video/mp4">
  </video>

  <div class="content">

    <%= image_tag "https://res.cloudinary.com/di7k88pkv/image/upload/v1675864703/agenx4hoeac8j1gufekm.png", height: 190, width: 380, alt: "BlaBlaSport" %><br>

    <div class="text-home">LE RESEAU SPORTIF</div><br>

    <div class="description-home">
      <span>
        BlaBlaSport est l'application qui permet de participer ou d'organiser des événements avec ceux qui partagent les mêmes centres d'intérêts sportifs.<br>
        Il te manque un adversaire, un partenaire, ou plusieurs joueurs, rejoins la communauté BlaBlaSport !
      </span>
    </div><br><br>

    <%= link_to "Accéder aux événements", events_path, class: "btn btn-outline-warning" %><br>

  </div>

<%#
<script>
var video = document.getElementById("myVideo");
var btn = document.getElementById("myBtn");
function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}
</script> %>
