<div class="home-container">
  <video autoplay muted loop id="myVideo">
    <source src="https://res.cloudinary.com/di7k88pkv/video/upload/v1676656397/production_ID_5192077_f8mwmi.mp4" type="video/mp4">
  </video>

  <div class="home-content-mobile"></div>
    <div class="home-content">
      <div class="logo-home-mobile">
        <div class="logo-home">
          <%= image_tag "https://res.cloudinary.com/di7k88pkv/image/upload/v1675864703/agenx4hoeac8j1gufekm.png", alt: "BlaBlaSport" %>
        </div>
      </div>


      <div class="description-home-mobile">
        <div class="description-home">
          <p>BlaBlaSport est l'application qui permet de participer ou d'organiser des événements avec ceux qui partagent les mêmes centres d'intérêts sportifs.</p>
          <p>Il te manque un adversaire, un partenaire, ou plusieurs joueurs, rejoins la communauté BlaBlaSport !</p>
        </div>
      </div>

      <div class="btn-enter-mobile">
        <div class="btn-enter">
          <%= link_to "Accéder aux événements", events_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>
