.chatroom {
  background: black;
  opacity: 0.8;
  margin-top: 9px;
  margin-bottom: 4em;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 1em;
    padding: 1rem;
  }

  .messages {
    height: 50%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
