.navbar-lewagon {
  justify-content: space-between;
  background: #dbdadb;
  // color: #E67E22;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-lewagon .navbar-brand img {
  width: 30%;
  height: 30%;
}
.cities {
  display: flex;
  text-decoration: none;
  color: #E67E22;
}
.sports {
  display: flex;
  text-decoration: none;
  color: #c95014;
}
